@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:400px" src="~/Images/jakob-rosen-OZu3TEo_5bg-unsplash.jpg" />
          
            <div class="carousel-caption">
                

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>

            <img style="height:400px" src="~/Images/tennis.jpg" />
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:400px" src="~/Images/ben-hershey-6NhmiPpy6y4-unsplash.jpg" />
           
            <div class="carousel-caption">


            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px; display:inline-block">
        <div class="thumbnail product-item" style="height:300px; display:inline-block">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%;"
                 src="~/Images/tennis.jpg" />
            <div class="caption">
                <h5>Head Maria 25 Junior Strung Tennis Racquet</h5>
                <p>1000.00 Rs.</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>

        </div>

    </div>
    </div>
