@model WebAppMVC.Models.Admin

@*@{
  
}*@

<h2 class="text-center bg-warning">Admin Page</h2>

<div class="container">
    <button class="btn btn-link"> @Html.ActionLink("Add Products", "Create", "Products")</button>  
 
</div>

