@model WebAppMVC.Models.Admin

@{
    @*ViewBag.Title = "Index";*@
}

<h2 class="text-center" bg-success>Admin Page</h2>

<div class="container">
    @Html.ActionLink("Add Products", "Create", "Products")
 
</div>

